<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.sbroenne.VirtualShift.KickrProbe</string>
	<key>CFBundleName</key>
	<string>kickr-probe</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>kickr-probe connects to a KICKR to measure how it responds.</string>
</dict>
</plist>
