<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.sbroenne.VirtualShift.NameScan</string>
	<key>CFBundleName</key>
	<string>name-scan</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>name-scan reads the name a fitness machine broadcasts, to check what a riding app would show.</string>
</dict>
</plist>
