<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.sbroenne.VirtualGearsTools.RideSim</string>
	<key>CFBundleName</key>
	<string>ride-sim</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>ride-sim connects to the app as a riding app would, to check what it offers.</string>
</dict>
</plist>
